{
  "passPerPreset": true,
  "ignore": [
	"/node_modules/"
  ],
  "env": {
	"development": {
	  "plugins": [
		"typecheck",
		"syntax-flow",
		"transform-flow-strip-types",
		"check-es2015-constants"
	  ],
	  "presets": [
		"node5"
	  ]
	},
	"test": {
	  "plugins": [
		"typecheck",
		"syntax-flow",
		"transform-flow-strip-types",
		"check-es2015-constants"
	  ],
	  "presets": [
		"node5"
	  ]
	},
	"production": {
	  "plugins": [
		"syntax-flow",
		"transform-flow-strip-types",
		"check-es2015-constants"
	  ],
	  "presets": [
		"node5"
	  ]
	}
  }
}
